<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <div id="bodyWrapper">
    <%- include('../partials/header') %>

    <main class="container mx-auto px-4 py-8">
        <%- body %>
    </main>
    
    <%- include('../partials/footer') %>
  </div>
</body>
</html>